<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="usync.content" type="jumoo.usync.content.uSyncContentSettingsSection,jumoo.usync.content" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <usync.content import="false" export="false" events="Save" folder="~/uSync/Content/">
    <!-- other stuff will arrive here...-->
  </usync.content>

</configuration>
