<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="usync.content" type="jumoo.usync.content.uSyncContentSettingsSection,jumoo.usync.content" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <!-- settings to behave like uSync (read everytime, write out first time & when events fire -->
  <usync.content 
      import="true" 
      export="false" 
      events="true"
      folder="~/uSync/Content/" 
      archive="~/uSync.Archive/Content/" 
      versions="true"
      media="~/uSync/MediaItems/"
      files="~/uSync/Files/" 
      rootContentId=""
    >
  </usync.content>

</configuration>
